@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
body {
  background-color: #ffff;
  margin: 0;
  padding: 0;
}
p {
  overflow-y: scroll;
}
.navbar {
  display: flex;
  background-color: #c8b6ff;
  justify-content: space-between;
}
.note-icon {
  height: 30px;
  padding-top: 47px;
  padding-right: 10px;
  padding-left: 10px;
}
.logo,
.account {
  display: flex;
}
.account {
  padding-right: 15px;
  flex-direction: column;
}
#name {
  font-size: 0.7rem;
}
#plus {
  margin-top: 10%;
  margin-left: 78%;
}
.add-note {
  margin-left: 78%;
  margin-top: 0;
}
.list-icon {
  margin-left: 10px;
  width: 50px;
  height: auto;
}
#myImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 50%;
  margin-left: 10px;
}
.heading {
  font-size: 30px;
  font-family: "Pacifico", cursive;
}
.notes {
  display: block;
}

.toggle-class {
  display: none;
}
.tittle {
  font-family: "Dosis", sans-serif;
}
.details {
  font-family: "Dosis", sans-serif;
}
#description {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.note-app {
  padding-top: 10px;
}
.expand {
  margin-left: 90%;
  height: 30px;
  width: 30px;
}
#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notes-data {
  margin: 2%;
  padding: 5%;
  border-radius: 6px;
  background-color: #d7b9d5;
  height: 15rem;
  width: 15rem;
  overflow-y: scroll;
}
.buttons {
  display: flex;
  padding-left: 25px;
}

.edit-button,
.save-button {
  align-items: center;
  background-color: #ada7c9;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  margin-left: 20%;
  margin-right: 10%;
}

.edit-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.edit-button:hover:after {
  transform: translate(0, 0);
}

.edit-button:active {
  background-color: #bc4b51;
  outline: 0;
}

.edit-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .notes {
    margin-top: -10%;
    max-width: 300px;
  }
  .notes-data {
    max-width: 150px;
  }
  #plus {
    margin-top: 50px;
  }
  #display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.delete-button {
  background: #ada7c9;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 40px;
}

.delete-button:hover,
.delete-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.delete-button:active {
  opacity: 0.5;
}
.notes {
  border: 2px #ffd6a5;
  background-color: #ada7c9;
  border-radius: 6px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#header {
  height: 50px;
}
#description {
  height: 100px;
  width: 70%;
  background-color: #f8f7ff;
}
#submit-button,
.save-button {
  height: 50px;
  background-color: #ffd8be;
  color: #000000;
}
input,
textarea {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 15px;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
}
@media (min-width: 960px) {
  
}
.text-right {
  display: none;
}

.confirm {
  width: 33.333333%;
  padding: 15px;
  left: 0;
  margin-left: 33.333333%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 50%;
  position: fixed;
  box-shadow: 5px 5px 5px #000;
  z-index: 10001;
}

.cancel,
.ok {
  background-color: rgb(126, 9, 9);
  color: white;
  padding: 15px;
  border-radius: 12px;
}
.ok {
  background-color: rgb(28, 53, 195);
}
.show {
  display: block;
}
#snackbar {
  visibility: hidden; 
  min-width: 250px;
  margin-left: -100px;
  background-color: #61e6f5; 
  color: #000000; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1;
  left: 40%; 
  bottom: 30px;
}

#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}